<div class='alert alert-info fade in' data-alert='alert'>
   <h3>Players</h3>
</div>

<table class="table">
   <thead>
     <tr>
       <th>Name</th>
       <th>Wins</th>
       <th>Played</th>
       <th>Actions</th>      
     </tr>
   </thead>
   <tbody>
      <% for player in @players %>         
         <tr>
            <td>
               <%= link_to player.name, player_path(player)%>
            </td>
            <td><%= player.number_of_wins %></td>
            <td><%= player.played %></td>
            <td>
               <%= link_to "Show",  player_path(player), class: "btn btn-default"%>
            </td>
         </tr>
      <% end %>
   </tbody>
</table>